<head>
    <title>totoapp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<h1>Welcome to Meteor!</h1>

{{> hello}}
<!--  {{> info}}-->
</body>

<template name="hello">
    <div class="container">
        <form id="newTodo">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input class="form-control" type="text" name="todo">
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success " type="submit">Add</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    {{#each todo in todos}}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{todo._id}}" class="checkTodo">
                            <label for="{{todo._id}}" class="{{#if todo.checked}}checked{{/if}}">{{todo.todo}}</label>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>

<template name="info">
    <h2>Learn Meteor!</h2>
    <ul>
        <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
        <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
        <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
        <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
    </ul>
</template>
